# Enforce LF line endings
* text=auto

# C# files
*.cs text diff=csharp

# XAML files
*.xaml text

# Visual Studio Solution files
*.sln text

# Markdown
*.md text

# JSON, XML, etc.
*.json text
*.xml text
*.config text

# Ignore binary file diff
*.png binary
*.jpg binary
*.ico binary
*.pdf binary
*.exe binary
*.dll binary
